include README.md
include LICENSE
include requirements.txt
recursive-include sifen *.py
recursive-include django_sifen_api *.py
recursive-exclude tests *
recursive-exclude examples *
recursive-exclude docs *
global-exclude *.pyc
global-exclude __pycache__
